﻿*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: helvetica,arial,sans-serif;
    box-sizing: border-box;
    color: #fafafa;
}

body {
    color: #FFF;
    background-color: #10233F;
    background: linear-gradient(#162C4D, #1554ab);
    background-attachment: fixed;
}

a {
    color: #fff;
    font-weight: bold;
}

a:hover {
    color: #fa9900;
}

#body-container {
    max-width: 1250px;
    padding: 50px;
    margin: auto;
}

#main-header {
    position: relative;
    background-color: #006cff;
    background-image: url('../img/background-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    /*background:  radial-gradient(ellipse at center, rgba(0,0,0,0.37) 0%,rgba(0,0,0,0.37) 14%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%);*/
}
@media screen and (min-width: 1921px) {
    #main-header {
        background-image: url('../img/background-xlarge.jpg');
    }
}

@media screen and (max-width: 1920px) {
    #main-header {
        background-image: url('../img/background-large.jpg');
    }
}

@media screen and (max-width: 1280px) {
    #main-header {
        background-image: url('../img/background-medium.jpg');
    }
}

@media screen and (max-width: 853px) {
    #main-header {
        background-image: url('../img/background-small.jpg');
    }
}

#main-header .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 29, 68, 0.6);
}

#main-header .wrapper {
    max-width: 1000px;
    padding: 80px 0;
    margin: auto;
    text-align: center;
    position: relative;
}

#logo {
    width: 170px;
    margin: auto;
}

#main-header h1, #main-header h2 {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#main-header h1 {
    font-size: 70px;
}

#main-header h2 {
    font-size: 40px;
    padding: 0 40px;
}

.btn-cta {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 15px 30px;
    font-size: 25px;
    text-decoration: none;
    background-color: #F9BF3B;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-cta svg {
    fill: #000;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    margin-right: 10px;
}
/* This is pre-rendering the shadow change for better performance */
.btn-cta::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn-cta:not(.disabled):hover::after {
    opacity: 1;
}
.btn-cta:not(.disabled):hover {
    border-radius: 2px;
    color: #000;
    background-color: #FBD06F;
}

.btn-cta.disabled {
    background-color: rgba(200, 200, 200, 0.6);
    cursor: not-allowed;
}
.btn-cta.disabled:hover {
    color: #000;
}

.btn-cta.btn-sm {
    font-size: 18px;
    padding: 10px 15px;
}
.icon {
    max-height: 1em;
    width: 100%;
    fill: #fff;
    display: inline;
    vertical-align: sub;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.sticky + #main-content {
     padding-top: 60px;
}

#main-nav {
    background-color: #323234;
    z-index: 25;
    line-height: 60px;
}

#main-nav .mobile {
    display: none;
}

#main-nav > ul {
    list-style: none;
    display: flex;
    align-items: stretch;
}
#main-nav > ul li {
    display: flex;
}
#main-nav > ul li, body > nav > ul a {
    flex: 1;
}

#main-nav > ul a {
    display: block;
    text-align: center;
    text-decoration: none;
}

#main-nav > ul a:hover {
    color: #fff;
    background-color: #666;
}

#main-nav > ul, .block {
    max-width: 1080px;
    margin: auto;
}

.block {
    padding: 75px 30px;
}

.block h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

#access-list {
    display: flex;
}

#access-list > div {
    flex: 1;
    text-align: center;
    margin: 25px;
}

#access-list img {
    width: 100%;
    max-width: 230px;
    margin-bottom: 12px;
}

#access-list .description {
    font-size: 18px;
    font-weight: 600;
}

#description p {
    padding: 6px 0;
    line-height: 1.4em;
    text-align: justify;
}

#description, #features {
    padding-top: 0;
}

#features {
    padding-bottom: 10px;
}

#features .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#features .grid > div {
    margin: 20px;
    text-align: center;
}

#features .grid > div:last-child {
    grid-column: 1 / -1;
}

#features .img-preview, #features .description {
    margin: auto;
}

#features .img-preview {
    position: relative;
    display: inline-block;
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

#features .img-preview::after {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    opacity: 0;
    transition: all 0.2s ease;
    background-image: url(../img/zoom.svg);
    background-color: rgba(0, 0, 0, 0.3);
}

#features .img-preview:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

#features .img-preview:hover::after {
    opacity: 1;
}

#features img {
    max-width: 100%;
}

#features .description {
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
}

#download {
    text-align: center;
}

#browser-install-list {
    display: flex;
    text-align: center;
}

#browser-install-list > div {
    flex: 1;
    margin: 20px;
    position: relative;
}

#browser-install-list img {
    display: block;
    width: 100%;
    max-height: 150px;
    margin: auto;
}

#browser-install-list .coming-soon {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    font-weight: 700;
}

.github-logo {
    height: 15px;
    width: 15px;
    fill: white;
    margin-right: 5px;
}

#github-block, #suggestions-block {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

#github-block svg {
    width: 100%;
    height: 100%;
    max-width: 150px;
    margin-right: 30px;
}

#github-block h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#suggestions-block {
    max-width: 650px;
}

#suggestions-block .btn-cta {
    margin-top: 20px;
}

#suggestions-block .image {
    margin-left: 25px;
    max-height: 150px;
    max-width: 150px;
}
#suggestions-block .image svg {
    height: 100%;
    width: 100%;
    fill: #00a743;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

footer.block {
    padding-bottom: 25px;
    font-size: 16px;
    text-align: center;
    color: #bababa;
}

footer.block p {
    margin-top: 5px;
}

#img-preview {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 30;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#img-preview.visible {
    opacity: 1;
    bottom: 0;
    right: 0;
    width: 100%;
}

#img-preview.hiding {
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

#img-preview .container {
    margin: auto;
    max-width: 95%;
    max-height: 95%;
    position: relative;
    background-color: #fff;
    cursor: default;
    overflow: hidden;
}

#img-preview img {
    min-height: 100px;
    min-width: 200px;
}
#img-preview .description {
    color: #444;
    padding: 10px;
    padding-top: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/* Phones */
@media screen and (max-width: 599px) {
    #main-header .wrapper {
        padding-top: 30px;
    }
    #logo {
        width: 100px;
    }
    #main-header h1 {
        font-size: 40px;
    }
    #main-header h2 {
        font-size: 24px;
    }

    .btn-cta {
        margin-top: 30px;
        padding: 15px 25px;
    }

    #main-nav ul {
        display: block;
        max-height: 0;
        background-color: #323234;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    #main-nav ul.open {
        max-height: 240px;
    }

    #main-nav .hamburger {
        font-size: 35px;
        line-height: 60px;
        width: 60px;
        cursor: pointer;
        float: right;
    }
    #main-nav .hamburger .icon {
        fill: #bbb;
    }
    #main-nav .hamburger:hover .icon {
        fill: #fff;
    }
    #main-nav .mobile {
        display: block;
        margin-left: 15px;
        overflow: hidden;
        height: 60px;
    }
    #main-nav .mobile img {
        line-height: 60px;
        width: 40px;
        height: 60px;
    }
    #main-nav .mobile h2 {
        display: inline-block;
        vertical-align: text-bottom;
        margin-left: 8px;
    }

    #access-list {
        display: block;
    }

    #features .grid  {
        display: block;
    }
    #features .description {
        margin-top: 5px;
        font-size: 18px;
    }
    #features .grid > div {
        margin-bottom: 30px;
    }

    #browser-install-list {
        display: block;
    }
    #browser-install-list img {
        max-width: 150px;
    }
    #browser-install-list .btn-cta {
        margin-top: 15px;
    }

    #browser-install-list .coming-soon {
        margin-top: -10px;
    }

    #suggestions-block {
        flex-direction: column;
        text-align: center;
    }
    #suggestions-block .image {
        margin-top: 20px;
        margin-left: 0;
        max-height: 100px;
    }

    #img-preview img {
        width: 100%;
    }

    footer.block {
        padding-top: 0;
    }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 950px) {
    #features .img-preview {
        max-width: 250px;
        max-height: 100px;
    }

}